<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">

            <p-table #dt [value]="roles" [columns]="cols" responsiveLayout="scroll"  [rowHover]="true" dataKey="_id">
                <ng-template pTemplate="caption">
                    <div >
                        <h5 class="m-">Role Management</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>             
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{role.name}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
