<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelected()" [disabled]="!selected || !selected.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [rows]="10" [value]="dataSource" [columns]="columns" [selection]="selection" [selectionMode]="selectionMode" [rowHover]="rowHover" [paginator]="paginator" [rowsPerPageOptions]="rowsPerPageOptions" [globalFilterFields]="globalFilterFields" [showCurrentPageReport]="showCurrentPageReport" [currentPageReportTemplate]="currentPageReportTemplate" [dataKey]="dataKey" [responsiveLayout]="responsiveLayout">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{title}}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem" *ngIf="selectionMode">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}} <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td *ngIf="selectionMode">
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns">
                            <ng-container *ngIf="col.type == 'date'; else elseBlock">
                                <div>{{rowData[col.field] | date}}</div>
                            </ng-container>
                            <ng-template #elseBlock>
                                {{rowData[col.field]}}
                            </ng-template>
                        </td>
                        <td> 
                            <button *ngIf="showEditButton" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editRow(rowData)"></button>
                            <button *ngIf="showDeleteButton" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteRow(rowData)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

 
        <p-dialog [(visible)]="rowDialog" [style]="{width: '450px'}" header="{{title}} Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field" *ngFor="let col of columns">
                    <label for="name">{{col.header}}</label>

                    <p-inputNumber *ngIf="col.type == 'number'" [min]="0" inputId="integeronly" [(ngModel)]="rowData[col.field]" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !col.field}"> </p-inputNumber>
                    <input *ngIf="col.type == 'text'" type="text" pInputText id="{{col.field}}" [(ngModel)]="rowData[col.field]" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !col.field}"/>
                    <p-dropdown *ngIf="col.type == 'select'" [options]="selectOptions"  [(ngModel)]="rowData[col.field]" optionLabel="name" [showClear]="true" placeholder="Select"></p-dropdown>
                    <p-calendar *ngIf="col.type == 'date'"  [(ngModel)]="rowData[col.field]" dateFormat="dd.mm.yy"></p-calendar>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !col.field">{{col.header}} is required.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRow()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteItemDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span >Are you sure you want to delete</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteItemsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>  
    </div>
</div>
