<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedcrops()" [disabled]="!selectedcrops || !selectedcrops.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="crops" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedcrops" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Crop Management</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>                
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="variety">Variety <p-sortIcon field="variety"></p-sortIcon></th>
                        <th pSortableColumn="planting_date">Planting Date <p-sortIcon field="planting_date"></p-sortIcon></th>
                        <th pSortableColumn="harvest_date">Haversting Date <p-sortIcon field="harvest_date"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-crop>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="crop"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{crop.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Variety</span>
                            {{crop.variety}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Planting Date</span>
                            {{crop.planting_date | date : "YYYY-MM-dd"}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Haversting Date</span>
                            {{crop.harvest_date | date : "YYYY-MM-dd" }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCrop(crop)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCrop(crop)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        
        <p-dialog [(visible)]="CropDialog" [style]="{width: '450px'}" header="Crop Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="crop.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !crop.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !crop.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="variety">Variety</label>
                    <input type="text" pInputText id="variety" [(ngModel)]="crop.variety" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !crop.variety}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !crop.variety">Variety is required.</small>
                </div>
                <div class="field">
                    <label for="planting_date">Planting Date</label>
                    <p-calendar [(ngModel)]="crop.planting_date" id="planting_date" dateFormat="dd.mm.yy" [defaultDate]="crop.planting_date"></p-calendar>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !crop.planting_date">Planting Date is required.</small>
                </div>
                <div class="field">
                    <label for="harvest_date">Harvest Date</label>
                    <p-calendar [(ngModel)]="crop.harvest_date" id="harvest_date" dateFormat="dd.mm.yy" [defaultDate]="crop.harvest_date"></p-calendar>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !crop.harvest_date">Harvest Date is required.</small>
                </div>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCrop()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteCropDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="crop">Are you sure you want to delete <b>{{crop.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteCropDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteCropsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected crops?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteCropsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
